@font-face {
  font-family: "CeraPro";
  src: url("../assets/fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("../assets/fonts/CeraPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("../assets/fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("../assets/fonts/CeraPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

.cerapro {
  font-family: "CeraPro", sans-serif;
  font-style: normal;
}

.cerapro-regular {
  font-weight: 400;
}

.cerapro-medium {
  font-weight: 500;
}

.cerapro-bold {
  font-weight: 700;
}

.cerapro-black {
  font-weight: 900;
}

body {
  padding-block: 25px 13px;
  font-size: 14px;
}
.container {
  max-width: 1220px;
  margin-inline: auto;
  padding-inline: 10px;
}

header a,
header nav,
nav ul,
nav ul li,
header button {
  display: inline-block;
}

header > a {
  float: left;
}
header button {
  float: right;
}

.header {
  min-height: 53px;
  text-align: center;
  border-block-end: 1px solid rgba(70, 163, 89, 0.5);
  margin-block-end: 12px;
}

.header nav a {
  color: #3d3d3d;
  font-size: 16px;
  padding-block-end: 25px;
  padding-block-start: 9px;
  margin-inline: 25px;
  border-block-end: 3px solid transparent;
}

.header nav a.active {
  font-weight: 700;
  border-block-end: 3px solid #46a358;
}

.button {
  min-width: 100px;
  height: 35px;
  background: #46a358;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
}

.header .button img {
  vertical-align: bottom;
  margin-inline-end: 4px;
}

.hero {
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
  margin-block-end: 40px;
}

.hero .content {
  max-width: 670px;
  padding: 70px 90px 85px 40px;
  display: inline-block;
}

h1 {
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
  padding-inline-start: 3px;
  margin-block-end: 7px;
}

.hero h2 {
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-block-end: 5px;
}

.hero h2 span {
  color: #46a358;
}

.hero .content p {
  line-height: 24px;
  color: #727272;
  margin-block-end: 44px;
}

.hero .button {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  padding: 10px 25px;
  height: 40px;
  text-transform: uppercase;
}

.hero-image {
  max-width: 518px;
  display: inline-block;
  vertical-align: top;
}
.products {
  margin-block-end: 100px;
}
aside {
  width: 30%;
  float: left;
  background-color: #fff;
}
.aside-bg {
  min-height: 1245px;
  width: 310px;
  padding: 14px 18px;
  background-color: #fbfbfb;
  background-image: url(../assets/images/products/SuperSaleBanner.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.aside-bg h3 {
  margin-block-end: 10px;
  font-size: 18px;
  line-height: 16px;
  color: #3d3d3d;
}
.aside-bg ul {
  padding-inline-start: 12px;
}
.aside-bg li {
  font-size: 15px;
  line-height: 30px;
  margin-block-end: 10px;
  cursor: pointer;
  max-width: 75%;
  transition: 0.5s;
}
.aside-bg li:hover {
  color: #46a358;
}
li.aside-bg-active {
  color: #46a358;
  font-weight: 700;
}

.products-filter {
  min-height: 1370px;
}
.products-filter header {
  height: 23px;
  margin-block-end: 30px;
}
.products-menu {
  display: inline-block;
}
.products-menu li {
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  line-height: 16px;
  color: #3d3d3d;
  padding-block-end: 7px;
  border-block-end: 2px solid transparent;
  transition: 0.5s;
}
.products-menu li ~ li {
  margin-inline-start: 40px;
}
li.products-menu-active {
  color: #46a358;
  font-weight: 700;
  border-block-end-color: #46a358;
}
.products-menu li:hover {
  color: #46a358;
  border-block-end-color: #46a358;
}
.products-sort {
  float: right;
}
.select {
  margin-block-start: -2px;
  cursor: pointer;
}
.select img {
  float: right;
}

.products-cards li {
  float: left;
  width: 258px;
  min-height: 350px;
  cursor: pointer;
  padding-block-end: 10px;
  transition: 0.5s;
}
.products-cards li:hover {
  box-shadow: 5px -5px 6px 0px rgba(0, 0, 0, 0.05);
}
.products-cards li:nth-child(3n-1) {
  margin-inline: 33px;
}
.products-cards li:nth-child(n + 4) {
  margin-block-start: 60px;
}
.product-img {
  height: 300px;
  padding-block-start: 20px;
  background-color: #fbfbfb;
  margin-block-end: 12px;
}
.product-name {
  margin-block-end: 7px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #3d3d3d;
}
.product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #46a358;
}
.products footer {
  clear: both;
  text-align: right;
  padding-block-start: 90px;
}
.produts-pages {
  height: 35px;
}
.produts-pages button {
  width: 35px;
  height: 35px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  color: #3d3d3d;
  cursor: pointer;
  transition: 0.5s;
}
.produts-pages button:hover {
  border-color: transparent;
  background-color: #46a358;
  color: #fff;
}
.produts-pages button ~ button {
  margin-inline-start: 10px;
}
button.produts-pages-active {
  border-color: transparent;
  background-color: #46a358;
  color: #fff;
  font-weight: 700;
}

.flx {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.find-more {
  gap: 28px;
  margin-block-end: 138px;
}
.find-more article {
  position: relative;
  padding-top: 52px;
  width: 100%;
  max-width: 586px;
}
.find-more article img {
  position: absolute;
  top: 10px;
  left: 0;
}

.find-more-info {
  width: 100%;
  min-height: 250px;
  background-color: #fbfbfb;
  text-align: right;
  padding: 37px 30px 46px;
}
.find-more-info h2,
.find-more-info p,
.find-more-info a {
  margin-inline-start: auto;
}
.find-more-info h2 {
  margin-block-end: 9px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #3d3d3d;
  width: 150px;
}
.find-more-info p {
  margin-block-end: 25px;
  width: 292px;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}
.find-more-info a {
  background-color: #46a358;
  min-width: 140px;
  height: 40px;
  padding: 11px 28px;
  border-radius: 6px;
  font-size: 14px;
  color: #ffffff;
  transition: 0.5s;
}
.find-more-info a svg {
  vertical-align: middle;
}
.find-more-info a:hover {
  background-color: #2b6236;
}
.blog-posts {
  margin-block-end: 100px;
}
.blog-posts h3 {
  text-align: center;
  margin-block-end: 15px;
  font-size: 30px;
  line-height: 16px;
  color: #3d3d3d;
}
.blog-posts > p {
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
  margin-block-end: 35px;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}
.posts {
  gap: 42px;
}
.posts article {
  width: 268px;
  text-align: left;
  height: 362px;
}
.post-meta {
  background-color: #fbfbfb;
  height: 167px;
  padding: 9px 13px 12px;
  flex-direction: column;
  gap: 4px;
}
.info,
.info time,
.reading-time {
  font-size: 14px;
  line-height: 16px;
  color: #46a358;
}

.post-meta h4 {
  width: 200px;
  font-size: 20px;
  line-height: 26px;
  color: #3d3d3d;
}
.post-meta p {
  font-size: 14px;
  line-height: 22px;
  color: #727272;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -o-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-meta a {
  margin-block-start: 5px;
  padding-inline-end: 20px;
  background-image: url(../assets/images/blog-posts/icons/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-position: right center;
  transition: 0.5s;
}
.post-meta a:hover {
  color: #46a358;
  background-image: url(../assets/images/blog-posts/icons/arrow-right-green.svg);
}
