.afacad-flux {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.afacad-flux-thin {
  font-weight: 100;
}
.afacad-flux-regular {
  font-weight: 400;
}
.afacad-flux-medium {
  font-weight: 500;
}
.afacad-flux-bold {
  font-weight: 700;
}
body {
  margin: 0;
  height: 100vh;
  background-color: #1e1e1e;
  align-content: center;
}
section {
  max-width: 500px;
  min-height: 656px;
  margin: 0 auto;
  background: #ffffff;
  box-sizing: border-box;
  padding: 50px 100px 40px;
  position: relative;
  border-bottom: 10px solid #46a358;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
}
button.close {
  width: 18px;
  height: 18px;
  background-image: url(./images/close.svg);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 100%);
}
button.show-hide {
  background-image: url(./images/hide.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(calc(-100% - 10px), -50%);
}
button[type="submit"] {
  height: 45px;
  background: #46a358;
  border-radius: 5px;
  color: #fff;
  margin-top: 24px;
}
h3 {
  font-size: 18px;
  line-height: 16px;
  color: #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  margin: 0 0 40px;
}
h3 span + span {
  color: #46a358;
}
p {
  font-size: 13px;
  line-height: 16px;
  color: #3d3d3d;
  margin: 0 0 14px;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 36px;
}
.fields {
  position: relative;
}
input {
  width: 100%;
  padding: 14px 12px;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-family: inherit;
  color: #3d3d3d;
}
input::placeholder {
  color: #a5a5a5;
}

.alternative {
  text-align: center;
}
.alternative p {
  width: 95px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 16px;
  color: #3d3d3d;
  position: relative;
  margin-bottom: 28px;
}
.alternative p::before,
.alternative p::after {
  content: "";
  width: 96px;
  height: 1px;
  background-color: #eaeaea;
  position: absolute;
}
.alternative p::before {
  top: 50%;
  left: -100%;
}
.alternative p::after {
  top: 50%;
  left: 100%;
}
.alternative button {
  width: 100%;
  height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 15px;
}
